# 1

In [53]:
from scipy.stats import *

In [4]:
N = 1000
n = 2
for i in range(N):
  x = norm(0, 1).rvs(n)
  y = norm(0, 1).rvs(n)
  if ttest_ind(x, y)[1] > 0.1 and ttest_rel(x, y)[1] < 0.05:
    print(f'x = {x}, y = {y}')
    break

x = [ 0.8164909  -0.98125469], y = [ 0.70031669 -1.11405782]

# 2

In [ ]:
from scipy.stats import *

In [5]:
N = 1000
n = 2
for i in range(N):
  x = norm(0, 1).rvs(n)
  y = norm(0, 1).rvs(n)
  if ttest_ind(x, y)[1] < 0.05 and ttest_rel(x, y)[1] > 0.1:
    print(f'x = {x}, y = {y}')
    break

x = [0.44987146 0.79963518], y = [-0.91676435 -1.38425629]

# 3

In [ ]:
from scipy.stats import *
import pandas as pd

In [11]:
df = pd.read_csv('breast_cancer_1000_genes.tsv', sep = '\t', index_col = 0)

In [16]:
count = 0
for i in df.index:
  if shapiro(df.loc[i])[1] < 0.05:
    count += 1
print(count / len(df))

0.431

# 4

In [ ]:
from scipy.stats import *
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('colon_cancer_tumor_vs_normal_unpaired_FPKM.tsv', sep = '\t', index_col = 0)
df1 = pd.read_csv('DESeq2_results_unpaired.tsv', sep = '\t', index_col = 0)

In [63]:
df['p_value'] = [ttest_ind(df.loc[i][:5], df.loc[i][5:])[1] for i in df.index]
df['padj_BH'] = np.minimum(df["p_value"] * len(df) / rankdata(df["p_value"]), 1)
df = df.sort_values('padj_BH')

In [64]:
df_compare = pd.DataFrame({
    'padj_BH': df.head(10).index,
    'Deseq2': df1.head(10).index
})
df_compare

    padj_BH    Deseq2
0  C17orf96     FABP6
1      FUT1      ETV4
2     IER5L     IER5L
3      CDH3     KRT80
4     FXYD5      FUT1
5    ZNHIT2  C17orf96
6      GPR4     CLDN1
7      DKC1     ATG9B
8      ETV4  KIAA1257
9      MT1H    SLC51B

# 5

Нет неверно, пусть $p_1 = 0.05$, $p_2 = 0,06$, $p_1 < p_2$,  тогда после поправки Бенджамини-Хохберга $$padj_1 = \frac{p_1}{1} = 0.05$$, $$padj_2 = \frac{p_2}{2} = \frac{0.06}{2} = 0.03$$ $$padj_1 > padj_2$$